@font-face {
	font-family: 'Conv_larianti.regular';
	src: url('/fonts/larianti.regular.eot');
	src: url('/fonts/larianti.regular.woff') format('woff'), url('/fonts/larianti.regular.ttf') format('truetype'), url('/fonts/larianti.regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}